<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Contact</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer2.css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>

    <style>
        .map-section {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid black;
            display: none;
        }
    </style>
</head>
<body onload="initMap()" style="background-color: #ececec;">

<nav class="navbar navbar-static-top navbar-inverse bg-inverse" style="background-color: black;">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbarSupportedContent">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbarSupportedContent">
        <ul class="nav navbar-nav">
            <!-- Add any additional menu items if needed -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" th:href="@{/fav}" style="font-size: 16px;">Favourite</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/addContact}" style="font-size: 16px;">Add Contact</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/home}" style="font-size: 16px;">All Contacts</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/profile}" style="font-size: 16px;">My Profile</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{'http://localhost:8082/?userId=' + ${id}}" style="font-size: 16px;">Calendrier</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}" style="font-size: 16px;">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container" style="padding-left: 210px; padding-right: 210px;">
    <br>
    <div class="row">
        <div class="col-md-6">
            <h3>Add Contact</h3>
        </div>
    </div>

    <div class="list-group contact-group">
        <form th:action="@{/addContact}" th:object="${newContact}" method="post" enctype="multipart/form-data">
            <!-- Form content -->
        </form>
    </div>
</div>

<script>
    var map;
    var geocoder;
    var marker;
    var mapSection = document.getElementById('map');

    function initMap() {
        // Initialization code
    }

    function placeMarker(location) {
        // Marker placement logic
    }

    function showMap(button) {
        event.preventDefault();
        mapSection.style.display = 'block';
    }
</script>
</body>
</html>
